@model List<BoxNews.Models.Domain.Post>

<table class="table table-hover table-bordered" id="sampleTable">
    <thead>
        <tr>
            <th>Mã tin tức</th>
            <th>Tên tin tức</th>
            <th>Ảnh</th>
            <th>Tác giả</th>
            <th>Ngày tạo</th>
            <th>Nội dung</th>
            <th>Tình trạng</th>
            <th>Danh mục</th>
            <th>Chức năng</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var post in Model)
        {
            <tr>
                <td>@post.PostID</td>
                <td>@post.Title</td>
                <td>
                    @if (!string.IsNullOrEmpty(@post.ImgSrc))
                    {
                        <img src="~/images/@post.ImgSrc" alt="Post Image" style="width: 60px; height=" 60px";" />
                    }
                </td>
                <td>@post.Author</td>
                <td>@post.CreatedAt.ToString("dd-MM-yyyy")</td>
                <td>@Html.Raw(@post.Content)</td>
                <td>
                    @if (@post.Status)
                    {
                        <span class="badge bg-success">Hoạt động</span>
                    }
                    else
                    {
                        <span class="badge badge-secondary">Không hoạt động</span>
                    }
                </td>
                <td>@post.CategoryName</td>
                <td>
                    <a class="btn btn-primary btn-sm edit" asp-area="Admin" asp-controller="Post" asp-action="Update"
                        asp-route-id="@post.PostID" title="Sửa">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a class="btn btn-primary btn-sm trash" asp-area="Admin" asp-controller="Post" asp-action="Delete"
                        asp-route-id="@post.PostID" title="Xóa">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
