@model List<BoxNews.Models.Domain.Post>
@{
    ViewData["Title"] = "Post";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-md-12">
    <div class="tile">
        <div class="tile-body">
            <div class="row element-button">
                <div class="col-sm-2" style="float: left;">
                    <a class="btn btn-add btn-sm" asp-area="Admin" asp-controller="Post" asp-action="Add" title="Thêm">
                        <i class="fas fa-plus"></i>
                        Tạo mới tin tức
                    </a>
                </div>
                <form id="searchForm">
                    <input type="text" id="keyword" name="keyword" placeholder="Enter keyword">
                    <button type="button" id="searchBtn">Search</button>
                </form>
                <form id="filterForm">
                    <select id="status" name="status">
                        <option value="">All</option>
                        <option value="1">Published</option>
                        <option value="0">Draft</option>
                    </select>
                    <button type="button" id="filterBtn">Filter</button>
                </form>
                <a href="javascript:void(0);" onclick="reloadPage()" style="float: right;">
                    <i class="fa fa-refresh"></i>
                </a>
                <p>Giá trị keyword: @ViewBag.Keyword</p>
            </div>
            <div id="postList">
                @Html.Partial("_PostListPartial", Model)
            </div>
        </div>
    </div>
</div>
<script>
    function reloadPage() {
        window.location.href = '@Url.Action("Index", "Post")';
    }

    $(document).ready(function () {
        $("#searchBtn").click(function () {
            var keyword = $("#keyword").val();
            $.ajax({
                type: "POST",
                url: "@Url.Action("SearchByKeyword", "Post")",
                data: { keyword: keyword },
                success: function (data) {
                    @* console.log("Success! Data received:", data); *@
                    $("#postList").html(data);
                },
                error: function () {
                    alert("Error while searching.");
                }
            });
        });
    });

    $(document).ready(function () {
        $("#filterBtn").click(function () {
            var status = $("#status").val();
            $.ajax({
                type: "GET",
                url: "@Url.Action("FilterByStatus", "Post")",
                data: { status: status },
                success: function (data) {
                    $("#postList").html(data);
                },
                error: function () {
                    alert("Error while filtering.");
                }
            });
        });
    });
</script>


