@model List<BoxNews.Models.Domain.Post>
@{
    ViewData["Title"] = "Home Page";
}
<section id="navArea">
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav main_nav">
                <li class="active"><a href="index.html"><span class="fa fa-home desktop-home"></span><span class="mobile-show">Home</span></a></li>
                <li><a href="/Post/DomesticNews">Domestic news</a></li>
                <li><a href="/Post/InternationalNews">International news</a></li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li><a href="@Url.Action("Login", "Account")">Logout</a></li>
                }
                else
                {
                    <li><a href="@Url.Action("Login", "Account")">Login</a></li>
                    <li><a href="@Url.Action("Register", "Account")">Register</a></li>
                }
                <li><a href="admin">Admin</a></li>
            </ul>
        </div>
    </nav>
</section>
<section id="sliderSection">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="slick_slider">
                <div class="single_iteam">
                    <a href="pages/single_page.html"> <img src="~/images/iphone13mini.jpg" alt=""></a>
                    <div class="slider_article">
                        <h2><a class="slider_tittle" href="pages/single_page.html">iPhone 13 mini: Có gì hấp dẫn trong năm 2023 mà giá chỉ còn 16 triệu đồng?</a></h2>
                        <p>Có thể nói những mẫu điện thoại có kích thước màn hình từ 6 inch đổ lên được gọi là 'tiêu chuẩn' trong năm 2023 này. Nhưng đã bao giờ bạn tự hỏi rằng trải nghiệm sử dụng một mẫu điện thoại có kích thước chỉ vỏn vẹn 5.4 inch trong năm 2023 này là như thế nào hay chưa?</p>
                    </div>
                </div>
                <div class="single_iteam">
                    <a href="pages/single_page.html"> <img src="~/images/redmi-buds.jpg" alt=""></a>
                    <div class="slider_article">
                        <h2><a class="slider_tittle" href="pages/single_page.html">Redmi Buds 4 Lite thiết kế trẻ trung, pin dùng lâu chỉ còn 690K, ngoài ra còn 1 bí kíp chỉ 590K</a></h2>
                        <p>Bạn đang tìm kiếm một tai nghe không dây trẻ trung và tiện lợi? Hãy thử ngay Redmi Buds 4 Lite! Với thiết kế thời trang, tai nghe này không chỉ mang đến âm thanh chất lượng mà còn có pin sử dụng lâu.</p>
                    </div>
                </div>
                <div class="single_iteam">
                    <a href="pages/single_page.html"> <img src="~/images/sacxmobile.jpg" alt=""></a>
                    <div class="slider_article">
                        <h2><a class="slider_tittle" href="pages/single_page.html">Trên tay Xmobile DS101 và DS602A: Combo cáp sạc cực ngon dành cho người dùng điện thoại</a></h2>
                        <p>Mình đánh giá combo cáp sạc Xmobile có chất lượng hoàn thiện tốt, mang lại cảm giác yên tâm khi nhìn vào.</p>
                    </div>
                </div>
                <div class="single_iteam">
                    <a href="pages/single_page.html"> <img src="~/images/androidandios.jpg" alt=""></a>
                    <div class="slider_article">
                        <h2><a class="slider_tittle" href="pages/single_page.html">Người đứng đầu Instagram đã chọn Android, anh em fan iOS đâu hết rồi!</a></h2>
                        <p>Kể từ khi Meta ra mắt Threads, người dùng đã băn khoăn không biết nên đăng gì trên ứng dụng mới này. Để tăng cường sự tương tác, các thương hiệu cùng với người dùng đã bắt đầu đặt câu hỏi cho những ai theo dõi mình.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="latest_post">
                <h2><span>Latest News</span></h2>
                <div class="latest_post_container">
                    <div id="prev-button"><i class="fa fa-chevron-up"></i></div>
                    <ul class="latest_postnav">
                        <li>
                            @foreach (var post in Model.OrderByDescending(p => p.CreatedAt).Take(5)){
                            <div class="media">
                                    <a href="~/Post/Detail?id=@post.PostID" class="media-left"> <img src="~/images/@post.ImgSrc" alt="Post Image"></a>
                                <div class="media-body"> <a href="#" class="catg_title">@post.Title</a></div>
                            </div>
                            }
                        </li>
                    </ul>
                    <div id="next-button"><i class="fa  fa-chevron-down"></i></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="contentSection">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="left_content">
                <div class="single_post_content">
                    <h2><span>Domestic news</span></h2>
                    <div class="single_post_content_left">
                        <ul class="business_catgnav  wow fadeInDown">
                            <li>
                                <figure class="bsbig_fig">
                                    <a href="#" class="featured_img"> <img alt="image" src="images/featured_img1.jpg"> <span class="overlay"></span> </a>
                                    <figcaption> <a href="#">Tin tức nội địa</a> </figcaption>
                                    <p>Tin tức nội địa cập nhật liên tục giúp bạn luôn nắm bắt được xu hướng công nghệ trong nước</p>
                                </figure>
                            </li>
                        </ul>
                    </div>
                    <div class="single_post_content_right">
                        <ul class="spost_nav">
                            <li>
                                @foreach (var post in Model.Where(p => p.Category.CategoryName =="Tin công nghệ").Take(5))
                                {
                                <div class="media wow fadeInDown">
                                    <a href="~/Post/Detail?id=@post.PostID"class="media-left"> <img src="~/images/@post.ImgSrc" alt="Post Image"></a>
                                    <div class="media-body"> <a href="~/Post/Detail?id=@post.PostID" class="catg_title">@post.Title</a></div>
                                </div>
                                }
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="fashion_technology_area">
                    <div class="fashion">
                        <div class="single_post_content">
                            <h2><span>International news</span></h2>
                            <ul class="business_catgnav wow fadeInDown">
                                <li>
                                    <figure class="bsbig_fig">
                                        <a href="pages/single_page.html" class="featured_img"> <img alt="" src="images/featured_img2.jpg"> <span class="overlay"></span> </a>
                                        <figcaption> <a href="pages/single_page.html">Proin rhoncus consequat nisl eu ornare mauris</a> </figcaption>
                                        <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a phare...</p>
                                    </figure>
                                </li>
                            </ul>
                            <ul class="spost_nav">
                                <li>
                                    <div class="media wow fadeInDown">
                                        <a href="pages/single_page.html" class="media-left"> <img alt="" src="images/post_img1.jpg"> </a>
                                        <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 1</a> </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="media wow fadeInDown">
                                        <a href="pages/single_page.html" class="media-left"> <img alt="" src="images/post_img2.jpg"> </a>
                                        <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 2</a> </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="media wow fadeInDown">
                                        <a href="pages/single_page.html" class="media-left"> <img alt="" src="images/post_img1.jpg"> </a>
                                        <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 3</a> </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="media wow fadeInDown">
                                        <a href="pages/single_page.html" class="media-left"> <img alt="" src="images/post_img2.jpg"> </a>
                                        <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 4</a> </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="technology">
                        <div class="single_post_content">
                            <h2><span>Trivia news</span></h2>
                            <ul class="business_catgnav">
                                <li>
                                    <figure class="bsbig_fig wow fadeInDown">
                                        <a href="pages/single_page.html" class="featured_img"> <img alt="" src="images/featured_img3.jpg"> <span class="overlay"></span> </a>
                                        <figcaption> <a href="pages/single_page.html">Proin rhoncus consequat nisl eu ornare mauris</a> </figcaption>
                                        <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a phare...</p>
                                    </figure>
                                </li>
                            </ul>
                            <ul class="spost_nav">
                                <li>
                                    <div class="media wow fadeInDown">
                                        <a href="pages/single_page.html" class="media-left"> <img alt="" src="images/post_img1.jpg"> </a>
                                        <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 1</a> </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="media wow fadeInDown">
                                        <a href="pages/single_page.html" class="media-left"> <img alt="" src="images/post_img2.jpg"> </a>
                                        <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 2</a> </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="media wow fadeInDown">
                                        <a href="pages/single_page.html" class="media-left"> <img alt="" src="images/post_img1.jpg"> </a>
                                        <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 3</a> </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="media wow fadeInDown">
                                        <a href="pages/single_page.html" class="media-left"> <img alt="" src="images/post_img2.jpg"> </a>
                                        <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 4</a> </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="single_post_content">
                    <h2><span>Tech images</span></h2>
                    <ul class="photograph_nav  wow fadeInDown">
                        <li>
                            <div class="photo_grid">
                                <figure class="effect-layla"> <a class="fancybox-buttons" data-fancybox-group="button" href="images/photograph_img2.jpg" title="Photography Ttile 1"> <img src="images/photograph_img2.jpg" alt="" /></a> </figure>
                            </div>
                        </li>
                        <li>
                            <div class="photo_grid">
                                <figure class="effect-layla"> <a class="fancybox-buttons" data-fancybox-group="button" href="images/photograph_img3.jpg" title="Photography Ttile 2"> <img src="images/photograph_img3.jpg" alt="" /> </a> </figure>
                            </div>
                        </li>
                        <li>
                            <div class="photo_grid">
                                <figure class="effect-layla"> <a class="fancybox-buttons" data-fancybox-group="button" href="images/photograph_img4.jpg" title="Photography Ttile 3"> <img src="images/photograph_img4.jpg" alt="" /> </a> </figure>
                            </div>
                        </li>
                        <li>
                            <div class="photo_grid">
                                <figure class="effect-layla"> <a class="fancybox-buttons" data-fancybox-group="button" href="images/photograph_img4.jpg" title="Photography Ttile 4"> <img src="images/photograph_img4.jpg" alt="" /> </a> </figure>
                            </div>
                        </li>
                        <li>
                            <div class="photo_grid">
                                <figure class="effect-layla"> <a class="fancybox-buttons" data-fancybox-group="button" href="images/photograph_img2.jpg" title="Photography Ttile 5"> <img src="images/photograph_img2.jpg" alt="" /> </a> </figure>
                            </div>
                        </li>
                        <li>
                            <div class="photo_grid">
                                <figure class="effect-layla"> <a class="fancybox-buttons" data-fancybox-group="button" href="images/photograph_img3.jpg" title="Photography Ttile 6"> <img src="images/photograph_img3.jpg" alt="" /> </a> </figure>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <aside class="right_content">
                <div class="single_sidebar">
                    <h2><span>Popular Post</span></h2>
                    <ul class="spost_nav">
                        <li>
                            <div class="media wow fadeInDown">
                                <a href="pages/single_page.html" class="media-left"> <img alt="" src="images/post_img1.jpg"> </a>
                                <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 1</a> </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="single_sidebar wow fadeInDown">
                    <h2><span>Sponsor</span></h2>
                    <a class="sideAdd" href="#"><img src="images/add_img.jpg" alt=""></a>
                </div>
                <div class="single_sidebar wow fadeInDown">
                    <h2><span>Category Archive</span></h2>
                    <select class="catgArchive">
                        <option>Select Category</option>
                        <option>Domestic news</option>
                        <option>International news</option>
                    </select>
                </div>
            </aside>
        </div>
    </div>
</section>